@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?89842725');
  src: url('../font/fontello.eot?89842725#iefix') format('embedded-opentype'),
       url('../font/fontello.woff?89842725') format('woff'),
       url('../font/fontello.ttf?89842725') format('truetype'),
       url('../font/fontello.svg?89842725#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?89842725#fontello') format('svg');
  }
}

 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  font-size: 10em;
  display: inline-block;
  text-decoration: inherit;
  margin-right: .2em;
  text-align: center;
  font-variant: normal;
  line-height: 1em;
  margin-left: .2em;
 
  
}
 
.icon-a:before { content: '\e800'; } /* '' */
.icon-b:before { content: '\e801'; } /* '' */
.icon-c:before { content: '\e802'; } /* '' */

.icon-a:hover { content: '\e800'; color:#2380A7; } /* '' */
.icon-b:hover { content: '\e800'; color:#2380A7;} /* '' */
.icon-c:hover { content: '\e800'; color:#2380A7;} /* '' */

